* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 200%;
  padding: 0em;
  column-count: 2;
  column-gap: 0em;
}

#content{
  	padding: 0px 25px 0px 25px;
  	line-height: 1.5 ;
  	font-size: 16px ;
}
.input{
  	background-color: white !important;
}
.cover{
	background-image: url('img/cover.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}