#content{
  	-webkit-flow-into: content-flow;
  	padding: 0px 25px 0px 35px;
  	line-height: 1.6;
  	font-size: 15px;
    font-family: 'Quando', serif;

}
.input{
  	background-color: black !important;
  	-webkit-flow-from: content-flow;
}
.cover{
	background-image: url('img/kid_smugglerscare.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.chapter{
  line-height: 3.4;
  padding-top: 50%;
  padding-bottom: 30px;
  width: 100%;
}
p{
  margin-bottom: 0px;
  margin-top: 0px;
  color:#00FFFF;
}
h4{
  font-family: 'Poppins',sanserif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: #00FFFF;
}
h1{
  position: fixed;
  top: 100px;
  left: -70px;
  font-family: 'Vampiro One', cursive;
  font-size: 60px;
  color: #00FFFF;
  text-align: right;
  transform: rotate(90deg);
}
.swiper-pagination{
  position: absolute;
  left:10px;
}
.swiper-pagination-bullet{
  background-color: #00FFFF !important;
}
.swiper-pagination-bullet-active{
  background-color: #00FFFF !important;
}